<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-lg font-semibold">IoT Monitoring</a>
        <ul class="flex space-x-4">
            <li>
                <a href="#" class="text-white hover:text-gray-300">PZEM</a>
            </li>
            <li>
                <a href="/aht10" class="text-white hover:text-gray-300"
                    >AHT10</a
                >
            </li>
            <li>
                <a href="#" class="text-white hover:text-gray-300">Camera</a>
            </li>
        </ul>
    </div>
</nav>
